<md-card>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>{{j.name}}</h2>
        </div>
    </md-toolbar>
    <div layout="column">
        <md-card-content>
            <p>{{j.description}}</p>
            <div layout="row">
                Skills Required:
                <div ng-repeat="s in j.jobSkills">
                    <span style="margin-left:30px;">{{s.name}}</span>
                </div>
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class=" md-raised md-primary">Apply</md-button>
                <md-button class=" md-raised md-primary">Reffer</md-button>
            </md-card-actions>
        </md-card-content>
    </div>
</md-card>
