<md-card>
    <img ng-src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/10896931_365358436978145_3124102967193619120_n.jpg?oh=8d60378f9b20691576159fb1d99ae5c0&oe=58F942C0" class="md-card-image" alt="Washed Out">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Hadhemi Laouini</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            Étudie à ESPRIT : Ecole Sup Privée d'Ingénierie et de Technologies
        </p>
        <p>
            Habite à Tunis
        </p>
        <p>
            De Tunis
        </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class=" md-raised md-primary">Hit her on Facebook</md-button>
        <md-button class=" md-raised md-warn">Close this and ignore</md-button>
    </md-card-actions>
</md-card>
