<div layout="row" layout-align="space-between center">
    <img src="Components/Shared/Navbar/logo.png"/>
    <md-nav-bar nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('#/joboffers')">Job Offers</md-nav-item>
        <md-nav-item md-nav-click="goto('#/joboffers')" name="page2">Khaled</md-nav-item>
        <md-nav-item md-nav-click="material()" name="page3">Link To Material</md-nav-item>
        <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
      <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
      <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
      -->
    </md-nav-bar>
</div>
